<nav class="navbar navbar-dark bg-info">
  <div class="container-fluid">
    <h1 class="title">Таблица пациентов</h1>
    <div class="d-flex">
      <button type="button" class="btn btn-primary"
              (click)="showModalAddPatients()" (click)="clickAddPatient()">Добавить пациента
      </button>
    </div>
  </div>
</nav>

<table class="table table-info table-striped table-hover table-my">
  <thead>
    <tr>
      <th>№</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Пол</th>
      <th>Возраст</th>
      <th>Дата рождения</th>
      <th>Адрес</th>
      <th>Телефон</th>
      <th>Визиты</th>
      <th>Правка</th>
      <th>Удаление</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th colspan='12' class="text-center">Год: 2021</th>
    </tr>
  </tfoot>
  <tbody id="table-main">
    <tr *ngFor="let row of patientData; index as i">
      <td>{{i + 1}}</td>
      <td>{{row.surname}}</td>
      <td>{{row.name}}</td>
      <td>{{row.middle_name}}</td>
      <td>{{row.gender}}</td>
      <td>{{row.age}}</td>
      <td>{{row.birth}}</td>
      <td>{{row.address}}</td>
      <td>{{row.phoneNumber}}</td>
      <td class="select">
        <a (click)="showModalVisits()"
           (click)="sendVisits(row)" class="btn btn-info" href='#'>Показать</a>
      </td>
      <td class="select">
        <a (click)="showModalAddPatients()"
           (click)="sendPatient(row)" class="btn btn-primary" href='#'>Изменить
        </a>
      </td>
      <td class="select">
        <a (click)="deletePatient(row)" class="btn btn-danger" href='#'>Удалить</a>
      </td>
    </tr>
  </tbody>
</table>


<app-modal-add-patient
  *ngIf="isModalPatientVisible"
  (isConfirmed)="closeModalPatients($event)"
  (emitReload)="reload($event)"
  [selectedUser]="selectedUser"
  [showAdd]="showAdd"
  [showUpdate]="showUpdate"
></app-modal-add-patient>

<app-modal-show-visit
  *ngIf="isModalVisitsVisible"
  (isConfirmed)="closeModalVisits($event)"
  [selectedUser]="selectedUser"
></app-modal-show-visit>

