<nav class="navbar navbar-dark bg-info">
  <div class="container-fluid">
    <h1 class="title">Angular CRUD</h1>
    <div class="d-flex">
      <button type="button" class="btn btn-primary"
              (click)="showDialog()" >Add patients</button>
    </div>
  </div>
</nav>

<table class="table table-info table-striped table-hover table-my">
  <thead>
    <tr>
      <th>№</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Пол</th>
      <th>Возраст</th>
      <th>Дата рождения</th>
      <th>Адрес</th>
      <th>Телефон</th>
      <th>Правка</th>
      <th>Удаление</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th colspan='11' class="text-center">Year: 2021</th>
    </tr>
  </tfoot>
  <tbody id="table-main">
    <tr *ngFor="let row of patientData">
      <td>{{row.index}}</td>
      <td>{{row.surname}}</td>
      <td>{{row.name}}</td>
      <td>{{row.middle_name}}</td>
      <td>{{row.gender}}</td>
      <td>{{row.age}}</td>
      <td>{{row.birth}}</td>
      <td>{{row.address}}</td>
      <td>{{row.phoneNumber}}</td>
      <td class="select">
        <a (click)="showDialog()"
           (click)="setPatient(row)" class="btn btn-info" href='#'>Изменить</a>
      </td>
      <td class="select">
        <a (click)="deletePatient(row)" class="btn btn-danger" href='#'>Удалить</a>
      </td>
    </tr>
  </tbody>
</table>



<app-modal-add-patient *ngIf="isModalDialogVisible"
                       (isConfirmed)="closeModal($event)"
                       (emitReload)="reload($event)"
                       [selectedUser]="selectedUser"
></app-modal-add-patient>


