<div class="modal-patients">
  <div class="container pt-3 modal-my__container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="card ">
          <div class="card-body">
            <h3>
              Добавление сведений о пациенте
            </h3>
            <form [formGroup]="formValue">
              <div class="mb-3 form-floating">
                <label for="patient-name" class="form-label text-left">Имя</label>
                <input type="text" formControlName="firstName" class="form-control" id="patient-name"
                       aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="patient-surname" class="form-label text-left">Фамилия</label>
                <input type="text" formControlName="lastName" class="form-control" id="patient-surname"
                       aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="patient-middlename" class="form-label text-left">Отчество</label>
                <input type="text" formControlName="middleName" class="form-control" id="patient-middlename"
                       aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="patient-address" class="form-label">Адрес</label>
                <input type="text" formControlName="address" class="form-control" id="patient-address">
              </div>
              <div class="mb-3">
                <label for="patient-phoneNumber" class="form-label">Телефон</label>
                <input type="text" formControlName="phoneNumber"
                       class="form-control" id="patient-phoneNumber">
              </div>
              <div class="mb-3">
                <label for="patient-age" class="form-label">Возраст</label>
                <input type="number" formControlName="age" step="1" min="0" max="130" required
                       class="form-control" id="patient-age">
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="patient-Date">Дата рождения:</label>
                <input type="date" formControlName="date" class="form-control" id="patient-Date">
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" value="мужчина" name="gender"
                       formControlName="gender" (change)="changeGender($event)"
                       type="radio" id="patient-Radio1">
                <label class="form-check-label" for="patient-Radio1">
                  Мужчина
                </label>
              </div>
              <div class="form-check mb-5">
                <input class="form-check-input" value="женщина" name="gender"
                       formControlName="gender" (change)="changeGender($event)"
                       type="radio" id="patient-Radio2" checked>
                <label class="form-check-label" for="patient-Radio2">
                  Женщина
                </label>
              </div>

            </form>
            <button type="button" (click)="close()" id="cancel"
                    class="btn btn-secondary btn-lg mr-3">Отмена
            </button>
            <button type="button" (click)="postPatientDatails()" *ngIf="showAdd"
                    class="btn btn-primary btn-lg">Добавить
            </button>
            <button type="button" (click)="updatePatientDatails()" *ngIf="showUpdate"
                    class="btn btn-primary btn-lg">Изменить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


